.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.idea
*/.idea/*
*/.bas/*
*/.cbc/*
*/.ddn/*
*/.dis/*
*/.evt/*
*/.hds/*
*/.list/*
*/.lpf/*
*/.nam/*
*/.oc/*
*/.pcg/*
*/.rch/*

*/.mpbas/*
*/.mpend/*
*/.mplst/*
*/.mpnam/*
*/.mppth/*
*/.mpsim/*
*/.timeseries/*
